body{

    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #E9AFA3;
    font-family: 'Questrial', sans-serif;
    
}
h1, h2{
    color: rgb(27, 24, 14);
    font-family: 'Indie Flower', cursive;
}

p {
    color:bisque;
    background-color: blue;
    font-family: 'Questrial', sans-serif;
    
}

footer{
    padding-top: 260px;
    font-size: larger;

}
