@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #424B54;

}
nav {
    
	color:white;
    font-family: 'Oleo Script Swash Caps', cursive;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {

    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #424B54;
    
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
} 

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;

}

nav ul {
    display: none;}
nav ul.open {
    display:block;
}

#hambutton span:nth-child(1) {display:block;}
#hambutton span:nth-child(2) {display: none;}

#hambutton.open span:nth-child(1) {display:none;}
#hambutton.open span:nth-child(2) {display: block;}



footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding-left: 10rem;
    background-color:#E1CE7A;
    color:#424B54;
    max-height: 100%;
    font-family: 'Oleo Script Swash Caps', cursive;
}
body {
	padding: 0;
	margin: 0;
    background-color: #F3FFC6;
}

header {
	background-color: #E1CE7A;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #bbb;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
}

.logo img {
	width: 80px;
	height: auto;
}

.social{
    margin-top: 1.5rem;
}

.social img {
    max-width: 50px;
}


.headings {
	display: flex;
	flex-direction: column;
	margin-left: .5rem;
    font-family: 'Koulen', cursive;
}

.headings h1 {
	font-size: 1.5rem;
    color:#424B54;
}

main {
    display: grid;
    gap: 0.5rem;
    grid-template-rows: 0.5fr 2fr 0.5fr 3fr 1fr;
    font-family: 'Oleo Script Swash Caps', cursive;
    
  }
  .spotlight {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  
  }
  .spot3 {
    display: none;
  }
  
  header div {
    margin-bottom: 1rem;
  }
  
  header div {
    display: flex;
    justify-content: space-between;
  } 













