* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;

}
nav {
    background-color:#4DA167;
	color:white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

nav ul li a {

    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top:1px solid rgba(0,0,0,0.5),
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
} 

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;

}

nav ul {
    display: none;}
nav ul.open {
    display:block;
}

#hambutton span:nth-child(1) {display:block;}
#hambutton span:nth-child(2) {display: none;}

#hambutton.open span:nth-child(1) {display:none;}
#hambutton.open span:nth-child(2) {display: block;}

img{
	max-width: 250px;
	min-width: 100px;
	padding: 10px;
}

body{
	background-color: #CFCFCF;
}

.social{
	justify-content: right;
}

footer {
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding-left: 10rem;
    background-color:#4DA167;
    color:white;
    max-height: 100%;
}
