@media only screen and (min-width:64rem) {

    header, main, footer {
        max-width: 1050px;
        margin: 1px auto;
      }

    nav ul li a {
        display: block;
        text-decoration: none;
        padding: 1rem;
    
    }
    nav ul.navigation {
        display: flex;
        border-top: none;
        padding-top: 5%;
        font-size: 20px;
      }
    
    
      nav ul li {
    width: 100%;
    }

    header img {
        width: 100%
    }
    .headings h1 {
        font-size: 2rem;
        margin: 0;

    }
   
    main {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        
      }
      .event {
        grid-column: 1;
        grid-row: 1 / 2;
        
        border-style:double;
      }
      .weather {
          grid-column: 1 ;
          grid-row: 2 / 3;
          border-style:double;
      }
      .join {
          grid-column: 1 ;
          grid-row: 3 / 4;
          border-style:double;
      }
    
      .hero {
          grid-column: 2 / 4;
          grid-row: 1 / 4;
          padding: 10px;
          border-style:double;
      }
    
      .news {
          grid-column: 2 / 4;
          grid-row: 3 / 4;
          padding: 10px;
          border-style:double;
      }
    
      .spotlight {
          flex-direction: column;
          grid-column: 4 / 5 ;
          grid-row: 1 / 4;
          border-style:double;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr 1fr;
      }
      .spot1{
          grid-row: 1/2;
          border-style:double;
          
      }
      .spot2{
          grid-row: 2/3;
          border-style:double;
      }
      .spot3 {
        grid-row: 3/4;
        border-style:double;
        display: block;
      }

      .social{
        margin-top: 1.5rem;
    }
    
    .social img {
        max-width: 100px;
        display: block;
    } 

    footer {
       
        text-align: center;
    }
    
    

    
    }


