* {
	margin: 0 auto;
	padding: 0;

}

body {
	background-color:#EDF2F4;
}
nav  {

    background-color: #001242;
	margin: 0 auto;
	box-shadow: 2px 2px 2px #0094C6;
    border: #0094C6 solid 2px;
    
 }

nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	font-family: 'Gentium Book Basic', serif;
	border-bottom: 1px solid #F9C784;
}

main{
    width: 60%;
}

h1 {
	font-size: 2rem;
	font-family: 'Manrope', sans-serif;
	padding: 10px;
    text-align: center;
    width: 75%;
	
}
.web {
   text-align: center;
   font-family: 'Gentium Book Basic', serif;
}

h2 {
	padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    margin: 20px;
	font-family: 'Manrope', sans-serif;
}

h3{
	font-family: 'Manrope', sans-serif;
	font-size: 1rem;
}

img {
    
    width: 50%;
    height: auto;
    align-items: center;
    padding: 20px 50px;
	object-fit: cover;
}

footer {
    background-color: #001242;
	box-shadow: 2px 2px 2px #0094C6;
    margin-top: 50px;
    border: #0094C6 solid 2px;
}

footer p {
	padding: .5rem;
    color:white;
    text-align:center;
	font-family:'Gentium Book Basic', serif;
}
.person {
	
	margin: 10px;
	font-family: 'Gentium Book Basic', serif;
}

.type{
	margin-bottom: 300px;
}


@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	 		
    nav ul { 
		display: flex; 
    }
		  
    nav ul li { flex: 1 1 auto; 
    } 


	main {
		grid-template-columns: 1fr 1fr;
	}
	
    article:nth-child(3) {
		grid-column: span 2;
	}
	.type{
		margin-bottom: 480px;
	}

}

@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) { 
		grid-column: span 1;
	}

	
	}
}
