*{
    margin: 0 auto ;
    padding: 0;
}
body {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#banner{
    display: none;
	margin: 0 auto;
	border: 1px solid #bbb;
	background-color:black;
    color: #bbb;
	padding: 1rem;
	text-align: center;
	width: 100%;
    font-size: 1.5rem;
    font-family: 'Gentium Book Basic', serif;
}


header {
    background-color: #001242;
    color: white;
    width: 100%;
    display: flex;
    
}

.logo {
    width: auto;
    height: 30px;
    background-color: white;
    margin: 32px 5px 10px 10px;
    display: flex;
}

.social img{
    width: 20px;
    height: auto;
    padding: 5px;
    background-color: white;
    margin: 10px 3px 3px 0;
}

header h1 {
    display: block;
    font-size: 1rem;
    text-align: center;
    font-family: 'Manrope', sans-serif;
    padding: 15px 5px 0 0;
}
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    padding-top: 20px;
}
nav {
    background-color: #005E7C;
    font-size: 1.5rem;
    border: solid 1px;
}

nav ul {
    list-style-type: none;
    padding-right: 20px;
}
nav ul.open {
    display: block;
}

nav ul li {
    text-align: center;
    box-sizing: border-box;
}

nav ul li a {
    display: block;
    padding-right: 20px;
    text-decoration: none;
    color: white;
    border-top: 1px solid white;
}
nav ul li a:link, nav ul li a:visited {
    color: white;
    display: block;
    
}
nav ul li a:hover {
    background-color: #001242;
}
nav ul li.active a {
    background-color: #001242;
}

nav ul {display:none;}
nav ul.open {display:block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

#currentDate {
    padding: 10px 0;
    width: 100%;
    background-color: #0094C6;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-family: 'Gentium Book Basic', serif;
    
}


main {
    margin-top: 10px;
    color:white;
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
   
    
}

.hero {
    border:3px solid #000022;
    margin-bottom:5px;
    background-color: #005E7C;
    position: relative;

  }
  .hero-title{
    position: absolute;
    top: 1em;
    color:#000022;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    background-color: aliceblue;
    text-align: center;
    margin: 15px;

  }
  .call-to-action{
    position: absolute;
    bottom: 10px;
    right: 20px;
    border: solid #0094C6;
    padding: 10px;
    margin:10px;
    background-color: #001242;
    box-shadow: 5px 5px 10px #0094C6;
    display: flex;
    
  }

.call-to-action a {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    color:white;

}

.hero img {

    display:block;
    width: 100%;
}
.news {
    border:3px solid #000022;
    background-color: #005E7C;
}
.news h2 p {
    text-align: center;
}

.event {
    border:3px solid #000022;
    background-color: #005E7C;
}
.event img {
    width:52%;
    position: relative;
    left:90px;
}

.weather-box {
    border: 3px solid #000022;
    background-color: #005E7C;
    text-align: center;
    font-size: 1.1rem;
}

.weather-box h1 {
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
}

.weather-box img {
    width: 60%;
    
}

.join {
    border: 3px solid #000022;
    background-color: #005E7C;
}
.join img {
    width:340px;
    height: auto;
    margin:10px;
}
.join p {
    background-color: #001242;
    color: white;
    text-align: center;
   
}
.spotlight {
    border:3px solid #000022;
    margin:5px;
    padding-bottom: 90px;
    background-color: #005E7C;
    text-align: center;
  
}
.spot1 {
    border: 2px double #000022;
    
    background-color: #0094C6;
}
.spot1 img {
    width: 30%;
    margin: 90px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px  3px 3px 3px #fefefe;
}

.spot2 {
    border: 2px double #000022;
    background-color: #0094C6;
}
.spot2 img {
    width: 30%;
    margin: 90px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px  3px 3px 3px #fefefe;
}

.spot3 {
    display: none;
}

footer {
    background-color: #001242;
    color: white;
    border: 2px solid #0094C6;
    padding: 10px 0;
    margin-top: 10px;
    text-align: center;
}

.logofooter {
    width: auto; 
    height: 30px;
    background-color: white;
    margin: 10px 5px 10px 10px;
}

footer p {
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1rem;

}

.location{
    
    color:white;
}
.footerdown {
    border-top: 2px solid #0094C6;
    margin: 10px;
}

.source {
    background-color: #0094C6;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
}

/***discover page***/

.content-discover{
    display: block;
}
.population h2 {
    margin: 0;
    background-color:#001242;
    color: #fefefe;
    font-family: 'Manrope', sans-serif;
    padding: 5px;
    text-align: center;
}

.population p {
    margin-left: 10px;
}

.text  {
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
    border:none;

}

.location img {
    display: block;
    width:300px;
    height: 400px;
    border: solid 2px #0094C6;
    margin: 10px 20px;
    
}


.urban img {
    width:300px;
    height:200px;
    border: solid 2px #0094C6;
    margin: 10px 20px;
   
}

.img_gallery {
    border: 1px solid #0094C6;
}
.img_gallery h2 {
    background-color: #001242;
    color: #fefefe;
    padding: 5px;
    margin: 0;
}
.img_content {
    display:block;
}
.img_content img {
    
    width: 100%;
}

.local-storage-warning-box{
    background-color: #0094C6;
    color: white;
    border:#001242 solid 2px;
    text-align: center;
    
}



/***join page***/

.form_title {
    background-color: #001242;
    font-family: 'Manrope', sans-serif;
    color: white;
    width: 90%;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}
fieldset {
    border: 1px solid #0094C6;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 10px;
}
legend {
    font-family: 'Manrope', sans-serif;
    color: #005E7C;
    font-size: 20px;
    font-weight: bold;
    padding: 0 .5rem;
}
label.top {
    display: block;
    padding-top: .5rem;
    color: black;
    font-size: 1.5rem;
    font-family: 'Gentium Book Basic', serif;
}
label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid #005E7C;
    border-radius: 5px;
    padding: 15px;
    width: 85%;
    background-color: #fefefe;
}
label.top input:required {
    border-left: red solid 5px;
}
label.top input:required:valid {
    border-left: green solid 5px;
}
label.chose {
    display: block;
    padding-top: .5rem;
    font-size: 1rem;
    font-family: 'Gentium Book Basic', serif;
}
input.submitbtn {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    border: none;
    background-color: #001242;
    color: #fefefe;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
textarea {
    width: 100%;
    resize: none;
    background-color: rgb(228, 225, 225);
}
input.submitbtn:hover {
    background-color: #0094C6;
}

.chose {
    color:black;
}
.membership_container {
    display: none;
    
}

.thanks p {
    text-align: center;
    font-size: 20px;
    color:#001242;
}

/*** directory page ***/

.directory {
    max-width: 100%;
    padding: 15px;
    align-self: center;
    background-color: #eee;
    display: flex;
  flex-direction: column;
  }

.directory-h1 {
    background-color: #001242;
    color: #fefefe;
    margin: 0;
    padding: 5px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
.menu {
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}
.menu button  {
	padding: 5px 30px;
    border-radius: 5px;
    border:solid;
    background-color: #7DCFB6;
    color:#001242;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
}
.menu button:hover {
    background-color: #1D4E89;
    color: white;
    border: solid white;
    transition: 0.20s;
}
section {
	padding: 1rem;
    border: 5px solid #0094C6;
    border-radius: 5px;
    font-size: 1rem;
    color:#001242;
}

h3{
    font-family: 'Manrope', sans-serif;
    color:#0094C6;
    font-size: 1.5rem;

}

.cards {
	
	align-items: center;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Gentium Book Basic', serif;
}


.grid section {
	
    margin: 0.75rem;
    height: 250px;
    padding: 25px;
    font-family: 'Gentium Book Basic', serif;
}
img  {
	
	width: 30%;
    height: auto;
}

.list section {
	align-items: center;
    max-width: 100%;
    justify-content: center;
    display: flex;
	flex-direction: column;
}
.grid section > * {
	margin: 0 auto;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.2rem;
} 
.list section > * {
	
	text-align: center;
    font-family: 'Gentium Book Basic', serif;
    font-size: 1.2rem;
}
.list img {
    display: none;
}

/*** contact page ***/

.smallm {
    margin: 20px;
    width: 90%;
    box-shadow: 5px 5px 5px 0 #0094C6;
}
.contact-info{
    margin:15px;
}

.contact-info h2{

    background-color: #001242;
    padding: 10px;
    text-align: center;
   
}

.contact-info p {
    color: #000022;
    padding: 10px;
    
}







